*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* .containerArticleImage{
    overflow: hidden;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.teacherForms{
    display: flex;
}